*{
    margin: 0;
    padding: 0;
    
}

html, body{
    min-height: 100vh;
}

header{
    color: white;
    background-color: black;
    min-height: 180px;
    width: auto;
    text-align: center;
    padding-bottom: 10px;
}

h1{
    font-family: "Passion One";
    font-size: 10vw;
    text-transform: uppercase;
    padding: 30px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3px;
}

a:hover{
    text-decoration: underline;
}

/* main div{
    padding: 80px;
} */

main p{
    font-family: "Sriracha";
    margin-left: 10px;
    
}   

section{
    padding-top: 10vw;
    padding-bottom: 10vw;
    font-size: 3.5vw;
}

section.imagem{
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.647);
    background-size: cover;    
}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.208);
    color: white;
    text-shadow: 1px 1px 0 black;
}

section#flor{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;    
    background-position: right center;
}

section#livro{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
}

